.footer_container {
    position: relative;
    bottom:0px;
    width:100%;
    height: 400px;
    flex: 0 0 auto;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
    z-index: 10;
    background-color: #4C4848;
    padding-top: 100px;

    &__subcontainer {
        max-width: 70%;
        margin: auto;
        height: 100%;
        color: white;
        
        p {
            font-size: smaller;
        }
    }
}

.footer {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: start;
    height: 250px;
    // padding: 0 250px;
    

    &__logo {
        display: flex;
        align-items: center;
    }

    &__info{
        display: flex;
        color: white;
        justify-content: space-evenly;
        flex: 1;
        
        &__subcontainer {
            h3 {
                margin-bottom: 15px;
                font-size: large;
            }
            li {
                margin-bottom: 10px;
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    &__links {
        color: white;
        display: flex;
        flex-direction: column;
        :nth-child(1){
            margin-bottom: 10px;
        }
    }
}
