.sidebar {
    background-color: #e9e9eb;
    color: #1E1C29;
    height: 100vh;
    padding: 2rem;
    max-width: 15vw;

    .list-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 4rem 0;
        :hover {
            color: #FE4066;
            cursor: pointer;
        }
    }
}