.addtask {
    width: 100%;
    margin-top: 100px;

    form {
        width: 70%;
        margin: 3rem;
        display: flex;

    }

    input {
        margin-right: 2rem;
        padding: 15px;
        width: 30rem;
        border: none;
        outline: none;
        background-color: whitesmoke;
        border-radius: 10px;

        button {
            background-color: aqua;
        }
    }
}